
<% if @article.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @article do |f| %>
  <%= f.input :title %>
  <%= f.input :content, as: :trix_editor %>
  <%= f.button :submit %>
<% end %>
